/*  your css code here. If applicable */

.grid-container{
	display: grid;
}

.grid-item{
	display: block;
	width: 200px;
	height: 150px;
	background-color: lightgray;
	border-radius:5px;
	font-size: 40px;
}