/*  your css code here. If applicable */

.grid-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Dynamic columns */
	grid-gap: 10px;
}

.grid-item{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 200px;
	height: 150px;
	background-color: lightgray;
	border-radius:5px;
	font-size: 40px;
}